<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Bear Dashboard</title>
    </head>
    <body>
        <h1>Welcome to the Bear Den</h1>
        <% for (var b in bear) { %>
            <h4 id="name"> Bear: <a href="/bears/<%= bear[b]._id %>">"<%= bear[b].name %>"</a></h4>
            <ul>
               <li id="type">Type: <%= bear[b].type %></li>
               <li id="home_state">From: <%= bear[b].home_state %></li>  
            </ul>
        <% } %>
        <a href="/bears/new">Add a Bear</a>
    </body>
</html>